@model MVCClient3.ViewModels.UrunFormVM

@{
    ViewData["Title"] = "Ekle";
}

<h1>Ekle</h1>

<h4>Urun</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Ekle">
            <div asp-validation-summary="All" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="Urun.UrunId" class="control-label"></label>
                <input asp-for="Urun.UrunId" class="form-control" />
                <span asp-validation-for="Urun.UrunId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Urun.UrunAdi" class="control-label"></label>
                <input asp-for="Urun.UrunAdi" class="form-control" />
                <span asp-validation-for="Urun.UrunAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Urun.Fiyat" class="control-label"></label>
                <input asp-for="Urun.Fiyat" class="form-control" />
                <span asp-validation-for="Urun.Fiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Urun.KategoriId" class="control-label"></label>
                <select asp-items="Model.Kategoriler" asp-for="Urun.KategoriId" class="form-control"></select>
                <span asp-validation-for="Urun.KategoriId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
